<!DOCTYPE html>
<html>
    <head>
        <title>404</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            {{!-- <img class="error404" src="https://media.giphy.com/media/zQ3Otg91WjqRKHcTUD/giphy.gif"> --}}
            <img class="error404" src="https://media.giphy.com/media/ISAHN6dnrJHry/giphy.gif">
            <div id="div-1">
                {{message404}}
            </div>
        </div>

        {{>footer}} 

    </body>
</html>

